$blue:#3C565B;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg:#3C565B;
$subMenuBg:#3C565B;
$menuHover:#042D7E;

$material-dark: (
  'app-bar': #212121,
  'bottom-navigation': #424242,
  'background': #303030,
  'cards': #424242,
  'navigation-drawer': #424242,
  'toolbar': #212121
);

$material-light: ('background': #FAFAFA);